include _partial/head

header#header.inner.page-header
  include _partial/header

#content.inner.content= body

footer#footer.inner.page-footer
  include _partial/footer

include _partial/after_footer
