if ( post )
  - var klass = post.class || ''
  article( class="#{klass}" )
    header.entry-header
      include post/title

    - if ( /index|post|page/.test( page_type ) )
      .entry-content
        != post.content
        - if ( post.link && config.permalink_label )
            a.permalink( href="#{ post.permalink }" )= config.permalink_label

    include post/footer
