- var google_analytics_id = theme.google_analytics || config.google_analytics
- if ( google_analytics_id )
  script var _gaq=_gaq||[];_gaq.push(["_setAccount","#{ google_analytics_id }"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
