h1
  a( href="#{ config.root }" )= config.title

.menubar
  nav#header-menu.header-menu
    a.toggle-menu= __( 'menu' )
    include navigation

  - var google_search = theme.google_search || config.google_search
  - if ( google_search )
    form.search( action="#{ google_search }", method="get" )
      input.search-field( name='q', autocomplete='off' )
      input( type="hidden", name='q', value="site:#{ config.url.replace( /https?:\/\//, '' ) }" )
      a.button

  include follow_me
