h1
  a( href="#{ config.root }" )= config.title

.menubar
  nav#header-menu.header-menu
    a.toggle-menu= __( 'menu' )
    include navigation

  - var simple_search = theme.simple_search || config.simple_search
  - if ( simple_search )
    form.search( action="#{ simple_search }", method="get" )
      input.search-field( name='q', autocomplete='off' )
      input( type="hidden", name='q', value="site:#{ config.url.replace( /https?:\/\//, '' ) }" )
      a.button

  include follow_me
