body
  background color-background
  color color-text
  font 300 14px/1.5 font-default
  margin 0 auto
  max-width page-width

  @media screen and (max-width: 1040px)
    margin 0 20px

h1, h2, h3, h4, h5, h6
  font-family font-title
  margin 0
  padding 0

h1
  font-size 1.8em

h2
  font-size 1.5em

h3
  font-size 1.3em

a
  text-decoration none
  color color-text
  &:hover
    text-decoration underline

.clearfix
  clearfix()

img
  border 0 none
