::-moz-selection, ::-webkit-selection, ::selection
  background-color color-selection

input, textarea, [contenteditable]
  &:focus
    outline 0 none

a
  transition( .3s )

.page-not-found
  text-align center

  .entry-content
    text-align center
    font-size 1.2em
