// Color
color-background = #eee
color-text = #666
color-meta = #999
color-meta-lighten = color-meta + 38%
color-border = #ddd
color-border-darken = color-border - 10%
color-link = #258fb8
color-selection = #fbffad
color-title = #f2f2f2
color-subtitle = #aaa
color-code-background = #ddd

// Font
font-default = "HelveticaNeue-Light", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, SimSun, sans-serif;
font-serif = "Georgia", serif
font-mono = Source Code Pro, Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
font-title = font-default
font-code-line-height = 1.6

@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic)

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}

// Width
page-width = 1000px
