- var posts = {}
- page.posts.each ( function ( post ) {
  - var year = post.date.toDate().getFullYear()
  - if posts[ year ] instanceof Array
    - posts[ year ].push( post )
  - else
    - posts[ year ] = [ post ]
  - } )

- Object.keys( posts ).sort( function ( a, b ) {
  - return a == b ? 0 : a < b ? 1 : -1;
  - } ).forEach( function ( year ) ) {
section.archives
    h2.year= year
    - posts[ year ].forEach( function ( post ) {
    include article
    - } )
  - } )

if pagination == 2
include pagination
