<%
var year = ( new Date() ).getFullYear()
  , i = 0
  , post = page.posts.sort( function( a, b ) {
    a = a.date.getFullYear()
    b = b.date.getFullYear()
    return a === b ? 0 : a > b ? -1 : 1; 
  })

while ( true ) {
  var max = page.posts.length - 1
%>
<section class="archives"><h2 class="year"><%= year %></h2>
<%
  for ( ; true; ) {
    var post = page.posts[ i ]
      , newYear
%>
<%- partial( 'article', { item: post, index: false } ) %>
<%
    if ( ++i < max ) {
      newYear = new Date(Date.parse('Fri Feb 01 2013 16:20:00 GMT+0800 (CST)')).getFullYear()
      if ( newYear !== year ) break;
      year = newYear
    } else {
      break
    }

    if ( i > 100 ) break;
  }
%>
</section>
<%
  if ( i >= max ) break;

  if ( i > 100 ) break;
}
%>
