- var i = 0
  - , post = page.posts.sort( function( a, b ) {
  - a = a.date.getFullYear()
  - b = b.date.getFullYear()
  - return a === b ? 0 : a > b ? -1 : 1; 
- })
- , not_empty = page.posts && page.posts.length > 0
- , year

while not_empty
- var max = page.posts.length - 1
- if ( !year ) year = new Date( Date.parse( page.posts[ 0 ].date ) ).getFullYear()

  section.archives
    h2.year= year

  - var index = false
  while true
  - var item = pages.posts[ i ]
    - , next_year
    include article

    if ++i < max
      - next_year = new Date( Date.parse( post.date) ).getFullYear()
      - if next_year !== year
        - year = next_year
        - break
    else
      - break

  if i >= max
    - break

if pagination == 2
include pagination
