<%
var posts = {}
page.posts.each( function ( post ) {
  var year = post.date.toDate().getFullYear()
  if ( posts[ year ] instanceof Array ) {
    posts[ year ].push( post )
  } else {
    posts[ year ] = [ post ]
  }
} )

Object.keys( posts ).sort( function( a, b ) {
  return a == b ? 0 : a < b ? 1 : -1
  } ).forEach( function( year ) {
%>
<section class="archives"><h2 class="year"><%= year %></h2>
<%
    posts[ year ].forEach( function ( post ) {
%>
<%- partial( 'article', { item: post, index: false } ) %>
<%
    } )
%>
</section>
<%
    } )
%>

<% if ( pagination == 2 ) { %>
<%- partial( 'pagination' ) %>
<% } %>
