- var is_list_page = page.archive || page.tag || page.category

article
  header.entry-header
    include post/title

  - if ( !is_list_page )
    .entry-content
    - if ( item.excerpt && index )
      = item.excerpt
      a.more-link(href="#{config.root}#{item.path}#more")= theme.excerpt_link
    - else
      = item.content
    - if ( index && item.link && config.permalink_label )
      a.permalink(href="#{config.root}#{item.path}")= config.permalink_label
  
  include post/footer
