.page-header
  padding 30px 0

  gradient-border-bottom()
  user-select( none )

  @media screen and ( max-width: 1040px )
    padding-bottom 10px

  a
    text-decoration none

  a:hover
    color color-link
    text-decoration none

  h1
    float left
    font-weight normal
    font-size 30px
    line-height 1
    margin-right 80px
    position relative
    text-transform uppercase
    z-index 9

    @media screen and ( max-width: 1040px )
      float none
      margin-bottom 15px
      margin-right 0

  ul
    margin 0
    padding 0
    list-style none

.menubar
  position relative
  clearfix()

  @media screen and (min-width: 601px) and ( max-width: 1040px )
    .follow_me
      position absolute
      right 0
      top -40px

.header-menu
  float left
  line-height 30px
  margin 0
  position relative

  .toggle-menu
    background color-title
    border 1px solid color-border
    color color-meta
    cursor pointer
    display none
    line-height 33px
    padding 0 60px 0 10px
    position relative

    border-radius( 5px )

    &:hover
      color color-text

    &:after
      color color-border
      content "\f078"
      font 16px font-icon
      line-height: 33px;
      position: absolute;
      top: 0;
      right: 40px;

  li
    float left

    & + li
      margin-left 50px

  &.on
    .toggle-menu
      color color-text
      &:after
        color color-text
        content '\f077'

    ul
      display block

  @media screen and ( max-width: 600px )
    float none

    .toggle-menu
      display block

    ul
      background color-title
      border-bottom 1px solid color-border
      color color-meta
      cursor pointer
      display none
      left 0
      position absolute
      top 30px
      width 100%
      z-index 9

      border-radius( 0 0 5px 5px )

    li
      border 1px solid color-border
      border-bottom 0 none
      border-top 0 none
      float none

      & + li
        margin 0

      a
        display block
        line-height 1.2
        padding 5px 10px

.search
  cursor pointer
  float right
  margin 2px 0 0 30px
  position relative

  &:after
    color #ccc
    content "\f002"
    font 18px FontAwesome
    line-height 1
    position absolute
    top 6px
    left 10px

  @media screen and ( max-width: 600px )
    background color-border
    height 35px
    margin 0
    padding 0
    position absolute
    right 0
    top 0
    width 30px

    border-radius( 0 5px 5px 0 )
    transition( .3s )

    &:after
      color color-title
      font-size 20px
      left 8px
      top 10px

    .search-field
      display none

    &.on
      cursor default
      width 100%

      border-radius( 5px )

      &:after
        color color-text

      .search-field
        display block
        font-size 15px
        padding 7px 15px 8px 35px
        width 100%

        border-radius( 5px )

.search-field
  background-color color-title
  border 1px solid color-border
  box-sizing: border-box
  color color-meta
  font-size 13px
  margin 0
  padding 4px 15px 4px 30px
  width 40px

  border-radius( 15px )
  transition( .3s )

  &:focus, &:hover
    background-color #fff
    border-top 1px solid #ccc
    color color-text
    width 150px

.follow_me
  float right

  @media screen and ( max-width: 600px )
    display none

  a
    display inline-block
    font 0 font-icon
    height 30px
    opacity .5
    overflow hidden
    width 30px

    border-radius( 50% )

    & + a
      margin-left 15px

    &:hover
      opacity 1

    &:after
      color #fff
      display block
      font-size 20px
      line-height 35px
      width 30px
      text-align center

  .facebook
    background #3B5998

    &:after
      content '\f09a'

  .github
    background rgb( 175, 182, 202 )

    &:after
      content "\f09b"

  .google
    background #C83D20

    &:after
      content '\f0d5'

  .linkedin
    background #005A87

    &:after
      content '\f0e1'

  .pinterest
    background rgb( 190, 64, 55 )

    &:after
      content '\f0d2'

  .twitter
    background #55cff8

    &:after
      content '\f099'

  .rss
    background #ef7522

    &:after
      content '\f09e'
