.pagination
  line-height 20px
  padding 20px 0
  position relative
  text-align center

  gradient-border-top()

  a
    color #258fb8
    font-family font-title

    transition( .3s )

    &:after
      font-family font-icon
      position absolute
      top 2px

      transition( .3s )

  .prev
    left 0
    padding-left 40px
    position absolute

    &:after
      content '\f053'
      left 20px

    &:hover:after
      left 0

  .next
    padding-right 40px
    position absolute
    right 0

    &:after
      content '\f054'
      right 20px
      
    &:hover:after
      right 0
